{% load static %}
<div class="wrapper">
    <div class="header">
        <div class="header1">
            <img style=" width: 30px; height: 30px; margin-top: 4px; " src="{% static 'images/jordan.png' %}" alt="">
            <img style=" width: 30px; height: 30px; margin-top: 4px; margin-left:30px; " src="{% static 'images/icon.png' %}" alt=""> 
            
            <a style="float: right; font-family:impact;margin-top: 10px;" href="">Cart</a>
            <img style="float: right;width: 20px; height: 20px; margin-top: 7px;" src="{% static 'images/cart.png' %}" alt="">
            <a style="float: right; margin-top: 10px; margin-right: 30px;font-family:impact; " href="login">Sign in</a>
            <img src="{% static 'images/user.png' %}" alt="" style="float: right;width: 20px; height: 20px; margin-top: 7px;" >
        </div>
    </div>
</div>