{% load static %}
<h1 style="font-family:impact; margin-top: 30px;">View Detail</h1></br>
<div class="both"></div>
<div class="img01">
        <img src="/media/{{view.0.Image}}" style="width: 400px;height: 400px;" alt="">
        <div class="text4">
        <h1>Shoes</h1>
        <span style="margin-left: 290px;"></span> <br><br>
        <strong style="font-size: 30px;">{{view.0.Name}}</strong><br><br>
        <p>Colour:<span>{{view.0.Color}}</span></p>
        <span> Style: {{view.0.Style}}</span>
        <p>Description: <span>{{view.0.Description}}</span></p>
        </div>
    </div>


